.all_center{
  text-align: center;display: flex;justify-content:center;align-items:Center;
}
.timeSpan{
  font-size: 12px;
  float: right;
  color: #959595
}
.timeSpan13{
  font-size: 13px;
  float: right;
  color: #959595
}
